# Исходники TypeScript
*.ts
!*.d.ts
/src

# Конфигурационные файлы
tsconfig.json
tslint.json
*.tsbuildinfo

README.en.md
README.ru.md


# Тесты
__tests__/
*.test.ts
*.spec.ts

# Локальные настройки
.node_modules/
.nyc_output/
*.log
*.tgz


# Редакторы
*.idea/
.vscode/

# Другие файлы
README.md
.yarn-integrity
.yarn-metadata.json
